LOG_LEVEL=info
RUST_LOG=info
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/rust-backend
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
LOG_FORMAT=pretty
ASSETS_URL=https://assets.momentum.huisnota.com